<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="openslides_proxyvoting.absenteevote.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
    </div>
    <h1 translate>Weisungen importieren</h1>
  </div>
</div>

<div class="details">
  <div class="block row">
    <div class="title">
      <h3 translate>Select a CSV file</h3>
    </div>
    <div class="block right import">
      <label class="label" for="inputSeparator" translate>Separator</label>
      <input type="text" ng-model="separator" ng-change="setSeparator()" ng-init="separator=separator" id="inputSeparator">
      <br>
      <label class="label" for="selectEncoding" translate>Encoding</label>
      <select ng-model="encoding" ng-options="enc as enc for enc in encodingOptions"
          ng-selected="setEncoding()" ng-init="encoding=encoding" id="selectEncoding"></select>
      <ng-csv-import
          content="csv.content"
          header="csv.header"
          header-visible="csv.headerVisible"
          separator="csv.separator"
          separator-visible="csv.separatorVisible"
          result="csv.result"
          accept="csv.accept"
          encoding="csv.encoding"
          encoding-visible="csv.encodingVisible"></ng-csv-import>
    </div>
  </div>

  <h4 translate>Please note:</h4>
  <ul class="indentation">
      <li><translate>
        Required comma or semicolon separated values with these column header names in the first row
      </translate>:<br>
          <code>number, first_name, last_name, motion, vote</code>
      <li translate>Wenn number angegeben ist, sind first_name und last_name optional.
      <li translate>Es werden nur Weisungen für vorhandene Delegierte importiert.
      <li translate>Only double quotes are accepted as text delimiter (no single quotes).
  </ul>

  <div ng-show="csv.result">
    <h3 translate>Preview</h3>

    <table ng-if="!csvImporting" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>
          <th>#
          <th translate>Delegierte/r
          <th translate>Motion
          <th translate>Weisung</th>
      <tbody>
        <tr ng-repeat="delegateVote in delegateVotes">
          <td class="minimum"
              ng-class="{ 'text-danger': delegateVote.importerror, 'text-success': delegateVote.imported }">
            <span ng-if="delegateVote.importerror">
              <i class="fa fa-exclamation-triangle fa-lg"></i>
            </span>
            <span ng-if="!delegateVote.importerror && !delegateVote.imported">
              <i class="fa fa-check-circle-o fa-lg"></i>
            </span>
            <span ng-if="delegateVote.imported">
              <i class="fa fa-check-circle fa-lg"></i>
            </span>
          <td>
            {{ $index + 1 }}

          <td ng-class="{ 'text-danger': delegateVote.user_error }">
            <span ng-if="delegateVote.user_error" title="{{ delegateVote.user_error | translate }}">
              <i class="fa fa-exclamation-triangle"></i>
            </span>
            {{ delegateVote.first_name }} {{ delegateVote.last_name }}

          <td ng-class="{ 'text-danger': delegateVote.motion_error }">
            <span ng-if="delegateVote.motion_error" title="{{ delegateVote.motion_error | translate }}">
              <i class="fa fa-exclamation-triangle"></i>
            </span>
            {{ delegateVote.motion_title }}

          <td ng-class="{ 'text-danger': delegateVote.vote_error }">
            <span ng-if="delegateVote.vote_error" title="{{ delegateVote.vote_error | translate }}">
              <i class="fa fa-exclamation-triangle"></i>
            </span>
            {{ delegateVote.vote }}
    </table>

    <div ng-repeat="delegateVote in delegateVotesFailed = (delegateVotes | filter:{importerror:true})"></div>
    <div ng-if="delegateVotesFailed.length > 0" class="text-danger">
      <i class="fa fa-exclamation-triangle"></i>
      {{ delegateVotesFailed.length }}
      <translate>Weisungen werden nicht imported.</translate>
    </div>
    <div>
      <div ng-repeat="delegateVote in delegateVotesPassed = (delegateVotes | filter:{importerror:false})"></div>
      <i class="fa fa-check-circle-o fa-lg"></i>
      {{ delegateVotes.length - delegateVotesFailed.length }}
      <translate>Weisungen werden imported.</translate>
    </div>
    <div ng-repeat="delegateVote in delegateVotesImported = (delegateVotes | filter:{imported:true})"></div>
    <div ng-if="delegateVotesImported.length > 0" class="text-success">
      <hr class="smallhr">
      <i class="fa fa-check-circle fa-lg"></i>
      {{ delegateVotesImported.length }}
      <translate>Weisungen sind erfolgreich importiert worden.</translate>
    </div>

    <div class="spacer">
      <button ng-if="!csvImporting" ng-click="clear()" class="btn btn-default" translate>
        Clear preview
      </button>
      <button ng-if="!csvImporting" ng-click="import()" class="btn btn-primary" translate>
        Importiere {{ delegateVotes.length - delegateVotesFailed.length }} Weisungen
      </button>
    </div>
    <div class="spacer">
      <a ng-if="csvImported" ui-sref="openslides_proxyvoting.absenteevote.list" class="btn btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
    </div>
  </div>
</div>
