<div class="header">
  <div class="title">
    <div class="submenu">
      <a ng-click="" class="btn btn-default btn-sm">
        <i class="fa fa-check-square-o fa-lg"></i>
        <translate>Attendance</translate>
      </a>
      <a ng-click="" class="btn btn-default btn-sm">
        <i class="fa fa-file-text-o fa-lg"></i>
        <translate>Absentee votes</translate>
      </a>
      <a ng-click="" class="btn btn-default btn-sm">
        <i class="fa fa-download fa-lg"></i>
        <translate>Import</translate>
      </a>
    </div>
    <h1 translate>Delegates</h1>
  </div>
</div>

<div class="details">
  <div class="row">

    <!-- Search/filter -->
    <div class="col-sm-6 col-sm-offset-6">
      <div class="form-inline text-right">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" ng-model="filter.search" class="form-control"
               placeholder="{{ 'Search' | translate}}">
          </div>
        </div>
        <button class="btn btn-default" ng-click="isFilterOpen = !isFilterOpen"
            ng-class="isFilterOpen ? 'btn-primary' : 'btn-default'">
          <i class="fa fa-filter"></i>
          <translate>Filter ...</translate>
        </button>
      </div>
    </div>
  </div>

  <!-- Filter options -->
  <div uib-collapse="!isFilterOpen" class="row spacer">
    <div class="col-sm-6 text-right"></div>
    <div class="col-sm-6 text-right form-inline">
      <!-- Status filter -->
      <select ng-model="statusFilter" class="form-control" id="statusFilter">
        <option value="" translate>All</option>
        <option value="can_vote" translate>Registered</option>
        <option value="has_proxy" translate>Represented</option>
        <option value="inactive" translate>Inactive</option>
      </select>
    </div>
  </div>

  <div class="spacer-top-lg italic">
    {{ delegatesFiltered.length }} / {{ delegates.length }} {{ "delegates" | translate }},
    {{ registered }} {{ "registered" | translate }},
    {{ represented }} {{ "represented" | translate }}
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <!-- Delegate column -->
        <th ng-click="toggleSort('delegate')" class="sortable">
          <translate>Delegate</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'delegate' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

        <!-- Present column -->
        <th ng-click="toggleSort('present')" class="sortable">
          <translate>Present</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'present' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

        <!-- Keypad column -->
        <th ng-click="toggleSort('keypad')" class="sortable">
          <translate>Keypad</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'keypad' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

        <!-- Proxy column -->
        <th ng-click="toggleSort('proxy')" class="sortable">
          <translate>Proxy</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'proxy' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

        <!-- Shares columns -->
        <!-- FIXME: sorting does not work -->
        <th ng-repeat="category in (categories | orderBy:'id')"
            ng-click="toggleSort(category.name)" class="optional">
          <translate>{{ category.name }}</translate>
          <i class="pull-right fa" ng-show="sortColumn === category.name && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

    <tbody>
      <tr ng-repeat="delegate in delegatesFiltered = (delegates | osFilter:filter.search:getFilterString |
        filter:{status: statusFilter} | orderBy:sortColumn:reverse)">

        <!-- Delegate -->
        <td ng-mouseover="delegate.hover=true" ng-mouseleave="delegate.hover=false">
            <strong>{{ delegate.user.full_name }}</strong>
            <div class="hoverActions" ng-class="{'hiddenDiv': !delegate.hover}">
              <span>
                <a href="" ng-click="openDialog(delegate)" translate>Edit</a>
              </span>
            </div>

        <!-- Present -->
        <td>
          <span>
            <i ng-if="delegate.user.is_present" class="fa fa-check-square-o"></i>
          </span>

        <!-- Keypad -->
        <td>
          {{ delegate.keypad.keypad_id }}

        <!-- Proxy -->
        <td>
          <span ng-if="delegate.proxy" >{{ delegate.proxy.rep.full_name }}</span>
          <span ng-if="!delegate.proxy">–</span>

        <!-- Shares collection, categories must be sorted in the same order as the header -->
        <!-- TODO: Limit to 3 categories. -->
        <td ng-repeat="category in (categories | orderBy:'id')" class="optional">
          {{ delegate.getShares(category.id) }}
  </table>

</div>